@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Data web</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  
    <!-- Additional CSS Files -->
    <link href="~/assets-css/fontawesome.css" rel="stylesheet" />
    <link href="~/assets-css/templatemo-onix-digital.css" rel="stylesheet" />
    <link href="~/assets-css/animated.css" rel="stylesheet" />
    <link href="~/assets-css/owl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<!-- body -->
<body class="main-layout" style="overflow-x: hidden;">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s" style="height:50px;background:#2abadc">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            @*<img src="~/images/capture111.png" style="height:50px; width:50px"/>*@
                           @* <img src="~/images/capturenn.png" style="height:50px; width:50px" />*@
                            <img src="~/images/Capturenn.PNG" style="height:80px; width:px" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active" style="color:#fdd430; font-weight:bold;font-size:23px;">Home</a></li>
                            <li class="scroll-to-section"><a href="#service" style="color:#fdd430; font-weight:bold;font-size:23px;">Services</a></li>
                            
                            <li class="scroll-to-section"><a href="#contact" style="color:#fdd430; font-weight:bold;font-size:23px; ">Contact Us</a></li>
                            <li class="scroll-to-section"><a href="#about"></a></li>
                            <li class="scroll-to-section"><a href="#portfolio"></a></li>
                            <li class="scroll-to-section"><a href="#video"></a></li>
                         @*   <li class="scroll-to-section"><div class="main-red-button-hover"><a href="#contact">Contact Us Now</a></div></li>*@
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
   @* <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"> About  </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#service"> Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#contact">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>*@
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
    <section class="banner_main" style="position: relative; top: 80px;">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="text-bg" style="margin-top:60px">
                        <h1>Expert IT support</h1>
                        <span>for your business success</span>
                        <p>We manage your technology infrastructure to keep it running smoothly and securely , allowing you to concentrate on your business. </p>
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="text-img">
                        <figure><img src="images/img.png" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- Services  -->

 
        <div id="service" class="our-services section">
        <div class="services-right-dec">
            <img src="~/assets-images/services-right-dec.png" />

        </div>
        <div class="container">
            <div class="services-left-dec">
                <img src="~/assets-images/services-left-dec.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>We <em>Provide</em> The Best Service With <span>Our Tools</span></h2>
                        <span>Our Services</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-services">
                        <div class="item">
                            <h4>Infrastructure Monitoring</h4>
                            <div class="icon"><img src="~/assets-images/service-icon-01.png" alt=""></div>
                            <p>monitor your infrastructure and proactively solve issues before they disrupt your operations</p>
                        </div>
                        <div class="item">
                            <h4>Infrastructure Mordernizations</h4>
                            <div class="icon"><img src="~/assets-images/service-icon-02.png" alt=""></div>
                            <p>Migrate network equipment (Firewalls, Switches), servers and services.</p>
                        </div>
                        <div class="item">
                            <h4>Cloud Migrations</h4>
                            <div class="icon"><img src="~/assets-images/service-icon-03.png" alt=""></div>
                            <p>Office 365, SharePoint & Google Workspace migrations</p>
                        </div>
                        <div class="item">
                            <h4>Server and Desktop support</h4>
                            <div class="icon"><img src="~/assets-images/service-icon-04.png" alt=""></div>
                            <p>
                                Support day to day administration &amp; issue resolution of your infrastructure including Windows and Linux
                                servers, Cloud services, End user computers &amp; Network equipment.
                            </p>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>

   @* <div id="service" class="Services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Best Services</h2>
                        <p>
                            Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad <br>
                            teimpor sittem elit inuning ut sed.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <i><img src="images/service1.png" alt="#" /></i>
                        <h3> Shared Hosting</h3>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <i><img src="images/service2.png" alt="#" /></i>
                        <h3>Dedicated Hosting</h3>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <i><img src="images/service3.png" alt="#" /></i>
                        <h3>Domain Registration</h3>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <i><img src="images/service4.png" alt="#" /></i>
                        <h3>VPS Hosting</h3>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <i><img src="images/service5.png" alt="#" /></i>
                        <h3>Cloud Hosting</h3>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <i><img src="images/service6.png" alt="#" /></i>
                        <h3>Reseller Hosting</h3>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </div>
                </div>
                <a class="read_more" href="#">Read More</a>
            </div>
        </div>
    </div>*@
    <!-- end Servicess -->
    <!-- why -->
    <div id="why" class="why">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Why you should choose us</h2>
                        <p>With over a decade of expertise in the industry, We've been instrumental in guiding many clients towards successes in their information technology journey. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div id="box_ho" class="why-box">
                        <i><img src="images/why1.png" alt="#" /></i>
                        <h3>What we do</h3>
                        <p>
                            Be the technology partner that brings value with your day to day operations and long term projects
                            We take pride in offering IT solutions tailored to our clients&#39; unique needs. We will listen to you, evaluate current infrastructure and identify risks and areas that require attention. Then we will create a
                            roadmap that will improve your technology stack, streamline your operations, and minimize downtime while keeping an eye on budget goals.
                        </p>
                    </div>              
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="why-box">
                        <i><img src="images/why2.png" alt="#" /></i>
                        <h3>Our Promise</h3>
                        <p> We go the extra mile!</p>
                        <p>
                           
                            We understand that having a reliable and secure IT infrastructure is crucial for the smooth running of any business.
                            That&#39;s why we provide comprehensive managed support services that give our clients peace of mind and allow them to
                            focus on their core business operations.
                        </p>
                    </div>
                  
                </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="why-box">
                        <i><img src="images/why3.png" alt="#" /></i>
                        <h3>Things unique with us</h3>
                        <p>
                            We are flexible catering your needs and adjust accordingly
                            We have empathy towards anybody who needs our help, It will be same energy for C suite and End users. We will work until the job gets done.
                            Sound exposure in multiple technology disciplines like System administration, Networking, Cloud technologies & End user support.
                            We are continues learners who strongly belive that there is always room for improvementfor anybody.
                        </p>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- end why -->
    <!-- contact -->
    <div id="contact" class="contact" style="height:700px">
        <div class="container" style="height:700px">
            <div class="row" style="height:700px">
                <div class="col-md-6 offset-md-3 ">
                    <div class="main_form">
                        <div class="row">
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Name" type="text" name="Name" id="txtconName">
                            </div>
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Email" type="text" name=" Email" id="txtconEmail">
                            </div>
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Phone" type="text" name="Phone" id="txtconPhone">
                            </div>
                            <div class="col-sm-12">
                                <textarea class="textarea" placeholder="Message" type="text" name="Message" id="txtconMessage"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <button class="send" id="btnemailSend">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div>

        <div class="col-md-12 text-center" ">
                    <p>© 2019 All Rights Reserved. NetSys Solutions.</p>
                </div>
           
    </div>
    <div class="modal" id="successModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact NetSys</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <p id="mdlmsg"></p>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
            </div>
        </div>
    </div>
    <!-- end contact -->
    <!--  footer -->
  
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

   
    <script src="~/assets-js/owl-carousel.js"></script>
    <script src="~/assets-js/animation.js"></script>
    <script src="~/assets-js/imagesloaded.js"></script>
    <script src="~/assets-js/custom.js"></script>

    <script>
        $(document).ready(function () {
            $("#btnemailSend").click(function () {
                //debugger
                //$.ajax({
                //    url: "Home/Email", success: function (result) {
                //        alert("done")
                //    }
                //});

                $.ajax({
                    url: "Home/Email",
                    type: "POST",
                    data: { name: $("#txtconName").val(), email: $("#txtconEmail").val(), phone: $("#txtconPhone").val(), msg: $("#txtconMessage").val() },
                    dataType: "json",
                    beforeSend: function () {
                        // Code to be executed before the request is sent
                        // For example, you can show a loading spinner
                        // or disable buttons to prevent multiple clicks
                    },
                    success: function (result) {

                        $("#mdlmsg ").html("Your message has been sent successfully! Thank you !")
                        $('#successModal').modal('show');
                        
                    },
                    error: function (xhr, status, error) {

                        $("#mdlmsg ").html("error occurred ! please try again.")
                        $('#successModal').modal('show');
                    },
                    complete: function () {

                    }
                });
            });

           
        });
    </script>





</body>
</html>

